/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img {
  width: 200px;
  margin: 15px;
}

.product{
  width:350px;
  height:500px;
  vertical-align: top;
  margin:25px;
}

body {
  background-image: image-url("polonez_car.png");
  font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
}

h4 {
  color:#ca1cdd;
}

p {
  color:#ca1cdd;
}

h1 {
  color:#ca1cdd;
}

h5 {
  color:#ca1cdd;
}

h3 {
  color:#ca1cdd;
}

h2{
  color:#ca1cdd;
}
.field{
  color:#ca1cdd;
}